name: Build & Test Matrix

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-14, windows-latest]
        py-version: ['3.10', '3.11', '3.12']

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.py-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix['py-version'] }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          
      - name: Run tests
        run: |
          python -m pytest
